<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>Hello Spring MVC</display-name>

	<servlet>
		<servlet-name>HelloSpring</servlet-name>
		<servlet-class>com.phantom.HelloSpring</servlet-class>
	</servlet>

    <servlet>
    	<display-name>ReadAllParam</display-name>
    	<servlet-name>ReadAllParam</servlet-name>
    	<servlet-class>com.phantom.ReadAllParam</servlet-class>
    </servlet>
    
    <servlet>
    	<display-name>O'clock</display-name>
    	<servlet-name>ShowCurrentTime</servlet-name>
    	<servlet-class>com.phantom.ShowCurrentTime</servlet-class>
    </servlet>

	<servlet-mapping>
		<servlet-name>HelloSpring</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
    	<servlet-name>ReadAllParam</servlet-name>
    	<url-pattern>/readall</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>ShowCurrentTime</servlet-name>
    	<url-pattern>/clock</url-pattern>
    </servlet-mapping>
</web-app>
